/* All Common CSS Start  */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a,a:hover{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
img{
    vertical-align: middle;
}
.mr{
    margin-right: 0!important;
}
/* All Common CSS End  */

/*  Header CSS part Start  */
.navbar{
    position: fixed;
    left: 0;
    width: 100%;
    
}
.nav-item{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.nav-item a{
    color: white;
    transition: all linear .3s;
    position: relative;
}
/* .nav-item a:after{
    background-color:#744fa0;
    height: 1px;
    width: 15px;
    transform: translateX(0%);
    content: "";
    position: absolute;
    left: 7px;
    top: 35px;
    transition: .3s;
} */
.navbar-expand-lg .navbar-nav .nav-link:hover {
	color: #744fa0;
}

/* .navbar-expand-lg .navbar-nav .nav-link:hover .nav-item a:after{
    background-color: red;
} */


.head_button{
    background: #744fa0;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-left: 25px;
    border-radius: 3px;

}
.head_button a{
    color: white;
}
/* Header CSS part End  */


/*  Banner CSS part Start  */
#banner{
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner_overlay{
    padding: 235px 0px 120px 0px;
    background-color: rgba(0, 0, 0, 0.7);
}
.banner_text h1{
    font-size: 56px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.banner_text h1 span{
    color: #744fa0;
}
.banner_text h2{
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 35px;
    position: relative;
}
.banner_text h2:after{
    background-color: white;
    height: 1px;
    width: 200px;
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.banner_text p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 60px;
    line-height: 22px;
}
/* Banner CSS part End  */


/*  About CSS part Start  */
.about-text h3{
    padding-top: 135px;
    padding-bottom: 10px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.about-text p{
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #777777;
    line-height: 24px;
}
.about-text h5{
    padding-bottom: 135px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #777777;
    line-height: 24px;
}
.about-img{
    padding-top: 85px;
}
/* About CSS part End  */


/* feature CSS part Start  */
#feature{
    padding-top: 32px;
    padding-bottom: 32px;
    background: #f1f1f1;
}
.feature-head h3{
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
 
.fe-1{
    border-bottom: 1px solid #353535;
    padding-bottom: 30px;
    padding-top: 30px;
}
.fe-1 i{
   font-size: 35px;
}
.fe-1 h4{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #353535;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.fe-1 p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}

.fe-1:hover{
    border-color: #744fa0;
    color: #744fa0;
    cursor: pointer;
}
.feature-text h4:hover,.feature-text p:hover{
    color: #744fa0;
}
.fe-mid img{
    padding-top: 30px;
    padding-left: 30px;
}
.feature-right h3{
    padding-top: 105px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
}
.feature-right p{
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #777777;
    line-height: 24px;
}
.feature-right h5{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #777777;
    line-height: 24px;
    padding-left: 30px;
}

/* feature CSS part End  */


/* ss  CSS part Start  */
.ss{
    padding-top: 80px;
    padding-bottom: 40px;
}
.ss-photo img{
    margin-right: 10px;
    margin-top: 30px;
}

/* ss CSS part End  */

/* video CSS part Start  */
#video{
    margin-top: 30px;
    margin-bottom: 80px;
   background: url(../images/video.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}
.v-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 210px 0px;
}
.v-overlay i{
   font-size: 70px;
   color: white;
}
/* video CSS part End  */



/*  pricing CSS part Start  */
.price-content{
    padding-top: 30px;
}
.price-head h3{
    text-transform: uppercase;
    background: #e2d8d8;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #353535;
    transition: all linear .5s;
}
.price-mid{
    margin: 20px 0px;
}
.content{
    border: 3px solid #918faa;
    padding: 35px 20px;
    border-radius: 50%;
    position: relative;
}
.content h4 {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #353535;
}
.content h4 span{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #353535;

}
.price-btm{
    padding: 30px 0px 50px 0px;
    background: #e2d8d8;
}
.price-btm p{
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
.price-btn a{
    padding: 10px 20px;
    border: 1px solid #353535;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #353535;
    position: absolute;
    transform: translateX(-50%);
    bottom: -20px;
    transition: all linear .5s;
}
.price-content:hover .price-head h3{
   background: #744fa0;
} 
.price-content:hover .price-btn a{
    background: #744fa0;
    border: none;
}
/* pricing CSS part End  */


/* team CSS part Start  */
#team{
    padding-top: 100px;
    padding-bottom:80px;
}


.team-mid{
    margin-top: 30px;
    
}
.mid-img{
    position: relative;
    background-repeat: no-repeat;
}
.team-overlay{
    background: rgba(0, 0, 0, 0.685);
    width: 0px;
    position: absolute;
    transition: all linear .9s;
    top: 0px;
    left: 0px;
    height: 100%;
    
}
.team-mid:hover .team-overlay{
    width: 100%;
}
.team-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all linear .3s;
}
.team-icon i{
    font-size: 50px;
    color: white;
    transition: all linear .3s;

}
.team-mid:hover .team-icon{
   opacity: 1;
}
.team-icon i:hover{
    color: #1da1f2;
}
.team-detail{
    border: 1px solid #9b9b9b;
    border-top: none;
    border-radius: 3px;
    padding-bottom: 30px;
}
.team-detail h3{
    padding-top: 30px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}
.team-detail h4{
    padding-top: 15px;
   padding-bottom: 20px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #6c6c6c;

}
.team-detail p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 25px;
    color: #9b9b9b;
    padding: 0px 40px;

}
.team-detail{
    opacity: 0;
    transition: all linear .9s;
}
.team-mid:hover .team-detail{
   opacity: 1;
}

.team-left{
    padding-top: 115px;
}
.team-right{
    padding-top: 115px;
}
/* team CSS part End  */


/* feedback CSS part Start  */
#feedback{
    margin-top: 30px;
    margin-bottom: 80px;
   background: url(../images/feedback.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}
.feed-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px 0px;
}
.feed-text{
    padding: 35px 70px 15px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 45px;
}

.feed-text::after{
    position: absolute;
    height: 20px;
    width: 20px;
    background: white;
    content: "";
    left: 49%;
    bottom: -10px;
    transform:rotate(45deg);
}
.feed-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #777777;
}
.feed-text h5{
    padding: 30px 0px 10px 0px;
}
.feed-text h3{
    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
}
.feed-text h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #777777;
}
/* feedback CSS part End  */

/*  touch CSS part Start  */
#touch{
    padding-top: 30px;
    padding-bottom: 80px;
}
input[type=text] {
    padding: 20px 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 4px;
}
input[type=email] {
    padding: 20px 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 4px;
}

textarea {
    margin-top: 30px;
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    resize: none;
  }
  input[type=submit] {
      margin-top: 30px;
    padding: 10px 20px;
    border: none;
    background: #744fa0;
    border-radius: 4px; 
    color: white;
    font-weight: 700;
  }
/* touch CSS part End  */


/* footer CSS part Start  */
#footer{
    background: #353535;
    padding: 30px 0px;
}
.f-icon{
    padding: 30px 10px;
    font-size: 50px;
}
.f-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.f-text span{
    color: #744fa0;
}
/* footer CSS part End  */



/*  CSS part Start  */
/* CSS part End  */